{% extends 'base.html' %}

{% block title %}
Database
{% endblock %}

{% block content %}
<form action="/article/" method="get">
    <label>
        <input type="text" name="q">
    </label>
    <input type="submit">

</form>
{% for object in objects %}
<h1><a href="article/{{object.id}}/"> {{ object.title }} - id: {{ object.id }} {{ object.content }}</a></h1>
<p></p>
{% endfor %}
<div style="margin-top: 10px">

    <a href="/article/create/">
        <button>Add</button>
    </a>
</div>
{% endblock %}